/* Import Google Fonts Link import CSS */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --center: 1280px;
  --lora: 'Lora', serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--lora);
}

.center {
  max-width: var(--center);
  margin: 0 auto;
}
